[run]
branch = True
source = .
omit =
    tests.py
    */site-packages/*
    .venv/*
    venv/*
    static/*
    templates/*
    .dev/*

[report]
exclude_lines =
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:
    if TYPE_CHECKING:
show_missing = True
skip_covered = False
precision = 1

[html]
directory = htmlcov
